body {
  font-family: sans-serif "lato";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-primary {
  color: #FD6E0A;
}

.btn-primary {
  background-color: #FD6E0A;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
  
}

nav a {
  text-decoration: none;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;

}

.nav-title {
  font-weight: 800;
  font-size: 45px;
  color: #181818;
}
/* nav styles */
.header1{
  background-color: #FFF8F3;
}
.banner{
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-pic{
  width: 500px;
}